$color-nav: #5B605F;
$color-heading: #4a4a49;
$color-column-text: #4a4a49;
$color-button: #FF6600;
$color-distinctions: #FF6600;
$color-screen-heading: #FF6600;
$color-screen-background: #FFFFFA;
$color-message-info: #3498DB;
$color-message-warning: #FFB03B;
$color-message-succes: #468966;
$color-icon: #BD4932;
$color-text-table: #A1A194;