@import url('https://fonts.googleapis.com/css?family=Charmonman');

.logo {
    font-family: Charmonman;
}


#first {
    font-weight: 100;
    color: white;
}

#second {
    color: #E58A20;
    font-weight: 700;
}